/* GENERAL */

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}


.menudenavegacion {
    background-image: url(../img/fondomenudenavegacion3.jpg);
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    color: rgb(0, 102, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hrcorto {
    width: 300px;
    margin-left: 0px;
}

.boton{
    background-color: rgba(135, 59, 59, 0.905);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    margin-left: 30px;
    transition: background-color 0.9s, transform 0.5s;
}

.boton:hover {
    color: orange;
    background-color: beige;
    transform: scale(2);
}

.enlaces{
    margin-top: 20px;
}

/* MENÚ DE NAVEGACIÓN y PIE DE PÁGINA--------------------------------- */

.amdn {
    text-decoration: none;
    color: white;
}

.amdn:visited {
    color:  rgb(102, 255, 204);
}

.amdn:active {
    color: rgb(150, 140, 255);
}

.amdn:link {
    color: rgb(92, 172, 255);
}

.mdn {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pmdv {
    font-weight: 600;
    text-transform: uppercase;
    color: beige;
}

.navmdn {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 10px;
    margin: 0 20px;
    margin-bottom: 130px;
    background-color: rgb(33, 42, 62);
}

.limdn {
    display: inline-block;
    padding: 7px 7px;
    transition: background-color 0,9s, transform 0.5s;
    border-top: #008855 0.3em solid;
}

.limdn:hover {
    background-color: #008855;
    color: beige;
    transform: scale(1.4);
}

a:visited {
    color: crimson;
}

.pie {
    background-color: #222;
    color: #eee;
    text-align: center;
    padding: 10px;
}

/* Currículum Vitae-------------------------------------- */

.imgder {
    float: right;
}

.alinear-derecha {
    text-align: right;
}

.imagenderecha {
    display: flex;
    align-items: center;
    background-color: rgb(197, 197, 246);
}

.estilorelleno {
    background-color: rgb(197, 197, 246);
}

.imgredonda {
    border-radius: 50%;
    background-color: aliceblue;
}

.noimg {
    clear: both;
}


.fondo {
    background-image: url(../img/cv.jpg);
}

.fondo2 {
    background-image: url(../img/fondocv.jpg);
    background-position: right right right;
    background-repeat: no-repeat;
    background-size: cover;
}

#cabeceracv {
    color: beige;
    background-image: linear-gradient(45deg, #f4b26c, #C87A8A);
    text-align: center;
    font-size: 20px;
    padding: 20px;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#textocabecera {
    display: block;
}

.contacto {
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    box-shadow: 2px 4px 8px #031118;
}

.textocontacto {
    color: rgb(43, 43, 43);
    text-align: center;
}

#tarjetacontacto {
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    transition: transform 0.8s, background-color 0.9s;
}

#tarjetacontacto:hover {
    background-color: aquamarine;
    transform: rotate(25deg);
}

.contenedorcv {
    background-color: white;
    border-radius: 10px;
    margin: 20px 15px 20px;
    padding: 5px 10px 15px;
    box-shadow: 2px 4px 8px;
}

.contenedorjunto {
    display: flex;
    justify-content: center;
}

/* Formulario ------------------------------------------------------------------------------------------------------------------------*/

.fieldsetformulario {
    background-image: url(../img/fondoformulario.jpg);
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    padding: 30px;
    text-shadow: 1px 1px #007BFF;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin-top: 10px;
}

.fondoformulario {
    background-image: url(../img/fondoformulario2.jpg);
}

.letraformulario {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: large;
}

.letrah1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.listagrande {
    width: 100px;
    height: 25px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formgrande {
    width: auto;
    height: 20px;
    font-size: medium;
}

.tamañoboton {
    width: auto;
    height: auto;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(48, 55, 45);
    color: white;
    padding: 20PX;
    border-radius: 30px;
    margin: 10px;
}

.fieldsetf {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
}

#contenedorformulario {
    background-color: rgb(233, 168, 145);
    border-radius: 10px;
    margin: 20px 15px 20px;
    padding: 5px 10px 15px;
    box-shadow: 2px 4px 8px;
}

#cabeceraformulario {
    color: beige;
    background-image: linear-gradient(45deg, #6cd9f4, #74db9b);
    text-align: center;
    font-size: 20px;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contenedorf2 {
    background-color: rgb(228, 222, 220);
    border-radius: 10px;
    margin: 20px 15px 20px;
    padding: 5px 10px 15px;
    box-shadow: 2px 4px 8px;
}

/*----------------------HOBBIES*/

.tarjetahobbies {
    display: inline-block;
    background-color: #0ce69d;
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    transition: transform 0.8s, background-color 0.9s;
}

.tarjetahobbies:hover {
    background-color: aquamarine;
    transform: rotate(25deg);
}

/* HORARIO --------------------------------------------------------------------------------------------*/

.fondoh {
    background-image: url(../img/colorhorario.jpg);
    background-position: center center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}

.izq {
    text-align: left;
}

.der {
    text-align: right;
}

.lgrande {
    font-size: xx-large;
}

.pt {
    margin-bottom: 20px;
}

/*---------------------- ASIGNATURAS */

.sor {           /* sistemas operativos en red*/
background-color: rgb(186, 225, 255);
color: rgb(50, 50, 50);
border: 2px solid #007BFF;
border-radius: 10px;
padding: 20px;
margin: 10px;
font-size: 25px;
transition: transform 0.8s, background-color 0.9s;
}

.sor:hover {
    background-color: #82d1a0;
    transform: rotate(25deg);
}

.ipe {
    background-color: rgb(255, 223, 186);
    color: rgb(80, 40, 100);
    border: 2px solid #e6ad59;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    transition: transform 0.8s, background-color 0.9s;
}

.ipe:hover {
    background-color: #dd82c9;
    transform: rotate(-25deg);
}

.eng {
    background-color: rgb(173, 216, 230);
    color: rgb(50, 50, 50);
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    margin-left: 30px;
    transition: background-color 0.9s, transform 0.5s;
}

.eng:hover {
    color: rgb(136, 231, 27);
    background-color: rgb(217, 230, 36);
    transform: scale(1,2);
}

.fundamentos {
    background-color: rgb(186, 255, 201);
    color: rgb(80, 40, 100);
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    transition: background-color 0.9s, transform 0.5s;
}

.fundamentos:hover {
    color: rgb(16, 182, 233);
    background-color: rgb(152, 36, 230);
    transform: scale(1.5);
}

.appweb {
    background-color: rgb(255, 186, 201);
    color: rgb(50, 50, 50);
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    transition: background-color 0.9s, transform 0.5s;
}

.appweb:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(230, 36, 117);
    transform: scale(-1.5);
    transform: matrix(1.2, 0.2, -1, 0.9, 0, 20);
}

.serviciosred {
    background-color: rgb(214, 186, 255);
    color: rgb(80, 40, 100);
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    transition: background-color 0.9s, transform 0.5s;
}

.serviciosred:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 88, 230);
    transform: rotate(720deg);
}

.seguridad {
    background-color: rgb(255, 186, 186);
    color:  rgb(50, 50, 50);
    border: 2px solid #c172f5;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    transition: transform 0.8s, background-color 0.9s;
}

.seguridad:hover {
    background-color: #dd82c9;
    transform: rotate(-360deg);
}

.proyecto {
    background-color: rgb(255, 246, 186);
    color: rgb(80, 40, 100);
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    transition: background-color 0.9s, transform 0.5s;
}

.proyecto:hover {
    background-color: #dd82c9;
    transform: scaleX(2);
}

.descanso {
    background-color: rgb(240, 240, 240);
    color: rgb(47, 47, 189);
    font-size: 40px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    transition: background-color 0.9s, transform 0.5s;
}

.descanso:hover {
    background-color: #dd82c9;
    transform: scale(2)
}

.horas{
    background-color: rgb(199, 150, 206);
    font-weight: bold;
    font-size: 25px;
}

.dias{
    background-color: rgb(200, 220, 255);
    font-weight: bold;
    font-size: 25px;
}


.horaesquina{
    background-color: rgb(245, 245, 245);
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    font-size: 25px;
}