/* Currículum Vitae */

.alinear-derecha {
    text-align: right;
}

.imagenderecha {
    display: flex;
    align-items: center;
    background-color: rgb(197, 197, 246);
}

.estilorelleno {
    background-color: rgb(197, 197, 246);
}

.imgizq {
    float: left;
}

.noimg {
    clear: both;
}


.fondo {
    background-image: url(../img/cv.jpg);
}

.fondo2 {
    background-image: url(../img/cv2.jpg);
    background-position: right right right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hr1 {
    height: 5px;
     background-color: rgb(49, 214, 255);
}

.fieldset1 {
   border-width: 5px;
   border-color: rgb(49, 214, 255);
    
}

/* Formulario */

.fieldsetformulario {
    background-image: url(../img/fondoformulario.jpg);
}

.fondoformulario {
    background-image: url(../img/fondoformulario2.jpg);
}

.letraformulario {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: large;
}

.letrah1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.listagrande {
    width: 100px;
    height: 25px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formgrande {
    width: auto;
    height: 20px;
    font-size: medium;
}

.tamañoboton {
    width: auto;
    height: auto;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(13, 136, 167);
    color: white;
}